# Load Packages

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load Data

In [2]:
cars = pd.read_csv('used_cars_cleaned.csv')

In [3]:
cars.head()

,brand,base_model,trim,model_year,mileage,engine_type,fuel_type,horsepower,engine_size,ext_col,transmission_type,number_of_speeds,dual_shift_mode,int_col,accident_damage_reported,clean_title,price
0,Ford,Utility Police,Interceptor Base,2013,51000,V6 Cylinder Engine,Flex Fuel Capability,300,3.7,Black,A/T,6,0,Black,1,1,10300
1,INFINITI,Q50 Hybrid,Sport,2015,88900,V6 Cylinder Engine,Gas/Electric Hybrid,354,3.5,Black,A/T,7,0,Black,0,1,15500
2,Audi,S3 2,.0T Premium Plus,2017,84000,4 Cylinder Engine,Gasoline Fuel,292,2.0,Blue,A/T,6,0,Black,0,1,31000
3,BMW,740 Il,NaN,2001,242000,8 Cylinder Engine,Gasoline Fuel,282,4.4,Green,A/T,Unknown,0,Green,0,1,7300
4,Lexus,Rc 350,F Sport,2021,23436,V6 Cylinder Engine,Gasoline Fuel,311,3.5,Black,A/T,6,0,Black,0,1,41927

In [5]:
cars.dtypes

brand                        object
base_model                   object
trim                         object
model_year                    int64
mileage                       int64
engine_type                  object
fuel_type                    object
horsepower                    int64
engine_size                 float64
ext_col                      object
transmission_type            object
number_of_speeds             object
dual_shift_mode               int64
int_col                      object
accident_damage_reported     object
clean_title                  object
price                         int64
dtype: object

In [ ]:
cats = cars['brand',